#INTEGER TO LAUNCH APLICATION [INTEGER]
PORT=8080

#DATABASE PORT [INTEGER]
DB_PORT=5432

#HOST DIRECTION [STRING]
DB_HOST=<your host>
#USERNAME DATABASE [STRING]
DB_USERNAME=<your username database>
# PASSWORD DATABASE [STRING]
DB_PASSWORD=<your password>
# NAME OF DATABASE [STRING]
DB_NAME=<yout database name>

#JWT to auth
JWT_SECRET=<my secret key>

STRIPE_SECRET_KEY=<stripe secret key to payments>
STRIPE_SECRET_WEBHOOK=<stripe secret key to webhook (stripe-cli || stripe api)>

